.feynman__link {
  /*Высота строки 51px, размер шрифта 36px, начертание шрифта нормальное*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}
