.feynman__subtitle {
  /*Высота строки 51px, размер шрифта 36px, начертание шрифта нормальное*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0px;
}
