.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  padding-left: 64px;
  overflow: hidden;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  z-index: 3;
}

.header__title {
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  display: flex;
  width: 80%;
  margin: 100px auto 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}


.section-subtitle {
  /*Высота строки 34px, шрифта 24px, начертание шрифта нормальное*/
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  /*Высота строки 1.15, шрифта 24px, начертание шрифта полужирное*/
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  /*Высота строки 1.2, размер шрифта 18px, начертание шрифта нормальное*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

/* и элемента с модификатором вида ключ-значение
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  min-height: 790px;
  text-align: center;
  padding-top: 100px;
}

.feynman__title {
  /*Высота строки 1.15, размер шрифта 120px, начертание шрифта полужирное*/
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin: 0px;
}

.feynman__subtitle {
  /*Высота строки 51px, размер шрифта 36px, начертание шрифта нормальное*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0px;
}

.feynman__link {
  /*Высота строки 51px, размер шрифта 36px, начертание шрифта нормальное*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #ffffff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #ffffff;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
}

.table_theme_dark {
  color: #ffffff;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: #ffffff;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #ffffff;
}

.table__text_theme_dark {
  color: #ffffff;
}

.footer {
  box-sizing: border-box;
  min-height: 350px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  color: #ffffff;
  background-color: #1f1f1f;
  justify-content: center;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column {

}

.footer__author {
  /*Высота строки 25px, размер шрифта 18px, начертание шрифта нормальное*/
  margin: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;

}

.footer__column_content_info {

}

.footer__column_content_social {

}

.footer__column-heading {
  /*Высота строки 30px, размер шрифта 18px, начертание шрифта полужирное*/
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding: 0px;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
